@tailwind base;
@tailwind components;
@tailwind utilities;

.pdf-div {
  margin: 0 auto;
  width: min-content;
  padding: 10px;
  background-color: #dedede;
}
.react-pdf__Page__canvas {
  margin-bottom: 20px;
}
