@tailwind base;
@tailwind components;
@tailwind utilities;

.pdf-div {
  margin: 0 auto;
  width: min-content;
  padding: 50px;
  background-color: #dedede;
  margin-top: 50px;
}
.react-pdf__Page__canvas {
  margin-bottom: 20px;
}
 